<h2>Por Pais</h2>
<hr>


<div class="row">
    <div class="col">
        <!-- defino que al escuchar la variable onEnter se ejecute la funcion buscar entregandole el evento que sera el termino del component pais-input  -->
        <app-pais-input (onEnter)="buscar( $event )"></app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError">
    <div class="alert alert-danger">
        No se encontro nada con el termino {{termino}}
    </div>
</div>


<div class="row" *ngIf="!hayError && paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>