<div class="animate__animated animate__fadeIn animate__faster">

    <h3>Buscar por region <small>{{regionActiva | titlecase}}</small></h3>
    
    <!-- [class.btn-primary] = "region === regionActiva
        si la region recorrida por el for (reguion) es igual a la region a a la cual seleccionamos al presionar el boton entonces cambia la clase  a class = btn-primary  -->
        <div class="row">
            <div class="col" >
                <button 
                class="btn btn-outline-primary" 
                *ngFor="let region of regiones"
                (click)="activarRegion(region)"
                [class]="getClasesCSS(region)"
                >
                {{region}}
            </button>
        </div>
    </div>
</div>

<div class="row" 
    *ngIf="!hayError && paises.length > 0">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
    

</div>